*{
  background-color: #FFFAF0;
  color: #000;
}    

body{
  max-height: 90vh;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.container{
  margin: 5em 10em 0em 10em;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.homepage{
  padding-top: 10em;
}

img{
  width: 150px;
  height: 150px;
}
