*{
  background-color: #FFFAF0;
  color: #000;

}    

body{
    max-height: 90vh;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.homepage{
  padding-top: 10em;
}

img{
  max-width: 50%;
  max-height: 50%
}
